body {
   margin: 0;
}

.img-card {
    background-color: #0d6efd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30rem;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
    font-weight: 500;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid rgba(0,0,0,0.3);
    padding-top: 12px;
}

.bg-success, .bg-danger {
    color: white !important;
    font-weight: 500;
}

.width-100 {
    width: 100%;
}


.quiz-end {
    text-align: center;
    border-bottom: 1px solid rgba(214, 176, 3, 0.5);
    padding: 16px;
}


.quiz-end h1 {
    color: rgb(214, 176, 3);
}


.end-score {
    text-align: center;
    transform: translateY(-240px);
}

.end-screen {
    background-color: rgb(248,249,250) !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}